/** 
 * TODO Step 0b: 
 * Implement Navbar.css using the old_styles.css file
 * Remember: styles in React use the component in their style name (ex: .navContainer --> .NavBar-container)
 * .<old style> --> .<Component>-<style-name>
 * 
 */

:root {
  --primiary: #396dff;
  --grep: #f7f7f7;
  --white: #ffffff;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

.NavBar-container {
  background-color: var(--primiary);
  padding: var(--s) var(--m);
}

.NavBar-title {
  color: var(--white);
  font-size: 20px;
  margin: 0;
  font-weight: normal;
}
